@model InternetForum.Web.Models.ForumThread.ForumThreadViewModel

@* Panel s informacemi o vlákně příspěvků *@

<div class="card m-2">
    <div class="card-header">
        Podrobnosti vlákna <strong>@Model.Name</strong>
    </div>
    <div class="card-body">
        <p class="card-text">@Model.Description</p>
    </div>
</div>