# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.InternetForum.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Projects\InternetForum\.idea\.idea.InternetForum\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
